{% extends 'base.html.twig' %}

{% block navbar_left %}
    {% if button_back is defined %}
        {#todo back to article (scrolltop)#}
    {% endif %}
{% endblock %}
{% block navbar_right %}
    Je přihlášen uživatel: {{ user_name }}  
    <a href='{{ path('logout') }}' title='Odhlásit se' style="display: inherit"> 
        <img src='{{ asset('svg/logout.svg') }}' alt='logout_icon'>
    </a>
{% endblock %}

{% block body %}

{% endblock %}