.sectionHeadline {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-top: -30px;
}

#table {
    margin: 35px 12px 0 12px;
}

tr:nth-child(even) {
    background-color: white;
}

table th {
    background-color: #1c91e9;
    color: white;
}

.slideCheckbox {
    width: 55px;
    height: 19px;
    background: #333;
    margin: 0 auto;
    position: relative;
    float: left;
    display: inline-block;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideCheckbox:after {
    content: 'OFF';
    color: #000;
    top: 0;
    position: absolute;
    right: 6px;
    z-index: 0;
    font: 9px/19px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideCheckbox:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 6px;
    z-index: 0;
    font: 9px/19px Arial, sans-serif;
    font-weight: bold;
}
.slideCheckbox label {
    display: block;
    width: 25px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideCheckbox input[type=checkbox] {
    visibility: hidden;
}
.slideCheckbox input[type=checkbox]:checked + label {
    left: 28px;
}

/* RESOURCE: https://codepen.io/AllThingsSmitty/pen/MyqmdM */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}