* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* # NAVBAR #*/
.navbar {
    background-color: #0084da;
}
.navbar-item {
    color: white;
}
#login {
    display: inline-block;
}
#login div {
    display: inline-block;
}
.navbar form input{
    display: inline-block;
    color: black;
    border-radius: 5px;
    margin: 0 5px;
    padding: 4px 7px;
    border: 0;
}
.navbar form input[type=submit] {
    margin: 0;
}

#loggedUser{
    float: right;
    margin: 7px 2px;
}
.czen {
    color: green;
    display: block;
    text-align: center;
}
.czen a {
    color: green;
    text-decoration: none;
    font-family: sans-serif;
}
.tlacitko{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 2px;
    /*
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    */
}
.button2 {
    font-family: sans-serif;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}