<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Article CMS{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="css/topBar.css">
        <link rel="stylesheet" type="text/css" href="css/bulma-0.7.1/css/bulma.min.css">
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <div id="topBar">
        {{ form_start(login_form) }}
        {{ form_widget(login_form) }}
        <input type="submit" value="Přihlásit se">
        {{ form_start(login_form) }}
        {# TODO: style login_form and remove old form below + make ORM queries for login work #}


        <form method="post" action="LOGIN/login.php">
            <input type="text" placeholder="jméno" name="name">
            <input type="password" placeholder="heslo" name="pass">
            <input type="submit" value="Přihlásit se">
        </form>

        <div style="margin: 7px 0 0 12px">
            Ještě nemáte účet?
            <a href="{#}{ path('registration') }#}">
                <span style="top: 0.8px;position: relative">Zaregistrujte se</span>
            </a>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
