<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Article CMS{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="css/topBar.css">
        <link rel="stylesheet" type="text/css" href="css/bulma-0.7.1/css/bulma.min.css">
        {% block stylesheets %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
