{% extends 'account/tables/base_table.html.twig' %}

{% block table_buttons_header %}
    <th></th>
    <th></th>
{% endblock %}

{% block table_buttons_body %}
    <td>
        <a href="{{ path('user_comments') }}?comment_id={{ item['id'] }}#delete">
            Vymazat komentář
        </a>
    </td>
    <td>
        <a href="{{ path('admin') }}?headlineComment={{ item['id'] }}&scrollto={#todo Article ID#}}">
            Zobrazit podrobnosti
        </a>
    </td>
{% endblock %}