<div class="remodal remodal_{% block remodal_class %}{% endblock %}" data-remodal-id="{% block remodal_id %}{% endblock %}" role="dialog">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div>
        <h2 class="modal3Title">{% block remodal_title %}{% endblock %}</h2>
        <div class="modal3Desc">
            {% block remodal_content %}{% endblock %}
        </div>
    </div>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">{% block remodal_cancel_button %}{% endblock %}</button>
    <a href="{% block remodal_confirm_link %}{% endblock %}" class="remodal-confirm" style="color: white; text-decoration: none">{% block remodal_confirm_button %}{% endblock %}</a>
</div>